body {
  background-color: black;
}
h1 {
  font-size: 50px;
}
.header {
  color: white;
  text-align: center;
  font-family: "helveticus" sans-serif;
}
h2 {
  Color: white;
  text-align: center;
  font-family: "helveticus" sans-serif;
  font-size: 60px
}
.video {
  text-align: center;
  margin: 0;
}
.tent {
  text-align: center;
  color: gray;
  font-family: "helveticus" sans-serif;
  font-size: 25px
}
.phone {
  text-align: center;
}
.link{
  color: lightgreen;
}
.foot {
  color: white;
  text-align: right;
}
